*{
    margin: 0;
    font: sans-serif;
    font-family: 'Open Sans';
}
/* header and navigation styles */

.header{
    background-color: #FFF8F3;
    background-image: url('../another-repo/portfolio-resources/images/header_bg.png'), url('../another-repo/portfolio-resources/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
   
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;

}
.nav-title{
    
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 18px 35px;
    height: 64px;
    width: 180px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* banner styles */

.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-subtitle{
    color: #474747;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 10px;
}

.banner-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 116px;
    margin-bottom: 10px;
}

.banner-paragraph{
    color: #757575;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.banner-button{
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 18px 35px;
    height: 64px;
    width: 200px;
    border-radius: 5px;
    background: #FD6E0A;
}
.header{
    background-color: #FFF8F3;
}

/* about me section */

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 156px;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
}

.section-description{
    color: #757575;
    margin-bottom: 30px;

}

.about-info-container{
    display: flex;
    justify-content: space-around;

}

.about-info{


}

.title-info{
    color: #757575;
   

}

.title-description{


}